*{
	width:100%;
	height:100%;
	color:#a8a8a8;
	/*background: #0c0c0c;*/
	background-color: #0c0c0c;
	font-family:Ubuntu Mono;
	font-weight:bolder;
	font-size: 16px;
}
VteTerminal,vte-terminal {
	padding: 22px;
	margin:0px;
	border: none ;
	outline: none ;
}


